* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    background-image: url("./images/best_gaming_pc_primary.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.topsection {
    height: 12.5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    color: aliceblue;
}

h1 {
    font-size: 4rem;
}

.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar > * {
    color: white;
}

.icon {
    font-size: 2rem;
}

.main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main > p,
.shopnowbtn {
    font-size: 2.5rem;
    color: white;
    background-color: rgba(20, 45, 61, 0.8);
    border-radius: 15px;
    padding: 0.5rem;
}

.productspage {
    height: 100vh;
    background-color: gainsboro;
}

.productscontainer {
    display: flex;
    justify-content: space-between;
    padding: 10vh 12.5vw;
}

.product {
    height: 50vh;
    width: 40vh;
    border-radius: 1rem;
    border: 5px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
}

.product > img {
    width: 30vh;
    border-radius: 1rem;
    align-self: center;
}

.separator {
    height: 2px;
    background-color: black;
}

.producttitle {
    font-size: 1.5rem;
}

.price {
    font-size: 1.4rem;
}

.product > div:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}

.quantity {
    width: 3rem;
    height: 1.4rem;
    font-size: 1.2rem;
}

.addtocartbtn {
    height: 1.4rem;
}

.header {
    color: white;
}

a {
    text-decoration: none;
}

.cart {
    position: relative;
}

.cartquantity {
    position: absolute;
    background-color: white;
    color: black;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    right: -9px;
    bottom: -3px;
    font-size: 1.1rem;
}

.darkeneddiv {
    height: 100vh;
    width: 80vw;
    background-color: black;
    opacity: 0.2;
}
.cartdiv {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.darkeneddiv + div {
    height: 100vh;
    width: 35vw;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carttitle {
    font-size: 3rem;
}

.checkout {
    height: 3rem;
    width: 9rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    align-self: center;
}

.closebtn {
    background-color: white;
    border: 0;
    font-size: 2rem;
    align-self: flex-end;
    margin: 1rem;
}

.cartitems {
    flex: 1 1 auto;
    margin: 1rem;
    display: grid;
}

.cartitem {
    height: 20vh;
    display: flex;
}

.cartitemdetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1 1 auto;
}

.cartitemdetails > h1 {
    font-size: 2rem;
}

.cartitemdetails > p {
    font-size: 1.5rem;
}

.cartitemdetails > input {
    align-self: center;
    font-size: 1.25rem;
    width: 3rem;
}

.total {
    font-size: 2rem;
    font-weight: 500;
}
