* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    background-image: url("./images/best_gaming_pc_primary.webp");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.topsection {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem min(4rem, 6.1%);
    color: aliceblue;
    max-height: 19vh;
}

h1 {
    font-size: min(4rem, 12vh);
}

.navbar {
    display: flex;
    gap: min(2rem, 5.7vh);
    align-items: center;
}

.navbar > * {
    color: white;
    font-size: min(1rem, 2.9vh);
}

.icon {
    font-size: min(2rem, 5.7vh);
}

.main {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.main > p,
.shopnowbtn {
    font-size: min(2.5rem, 11vh);
    color: white;
    background-color: rgba(20, 45, 61, 0.8);
    border-radius: 15px;
    padding: 0.5rem;
}

.productspage {
    height: 100vh;
    background-color: gainsboro;
}

.productscontainer {
    display: flex;
    justify-content: center;
    gap: min(6.5rem, 14vh);
    padding: min(6.25rem, 11vh);
}

.product {
    height: min(30.75rem, 63vh);
    width: min(24.5rem, 50vh);
    border-radius: min(1rem, 2vh);
    border: min(5px, 0.6vh) solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: min(1rem, 2.1vh);
    gap: min(1.2rem, 2.5vh);
}

.product > img {
    width: min(18.25rem, 38vh);
    border-radius: 1rem;
    align-self: center;
}

.separator {
    align-self: center;
    min-height: 0.1rem;
    width: min(22rem, 45vh);
    background-color: black;
}

.producttitle {
    font-size: min(1.5rem, 4vh);
}

.price {
    font-size: min(1.4rem, 2.9vh);
}

.product > div:last-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    margin-bottom: min(10px, 1.3vh);
}

.quantity {
    width: min(3rem, 15vh);
    font-size: min(1.2rem, 2.4vh);
}

.addtocartbtn {
    height: min(1.4rem, 4vh);
    font-size: min(0.83rem, 1.7vh);
}

.header {
    color: white;
}

a {
    text-decoration: none;
}

.cart {
    position: relative;
}

.cartquantity {
    position: absolute;
    background-color: white;
    color: black;
    height: min(1.3rem, 58%);
    width: min(1.3rem, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 500;
    right: max(-9px, -28%);
    bottom: max(-3px, -8%);
    font-size: min(1.1rem, 3.2vh);
}

.darkeneddiv {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.2;
}
.cartdiv {
    z-index: 1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.darkeneddiv + div {
    width: 35rem;
    max-width: 58vh;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.carttitle {
    font-size: min(3rem, 6.1vh);
}

.checkout {
    height: min(3rem, 6.1vh);
    width: min(9rem, 19vh);
    font-size: min(1.5rem, 3.1vh);
    border-radius: min(1rem, 2vh);
    align-self: center;
    margin-bottom: 0;
}

.totalcheckout {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    margin-top: min(1rem, 2vh);
}

.cartitems {
    margin: 0 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 33.1rem;
    align-self: center;
    gap: min(1rem, 1.7vh);
    margin-top: min(2rem, 4.1vh);
    max-width: 54vh;
}

.cartitem {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: min(1.5rem, 2.4vh);
    justify-content: center;
}

.cartitem > img {
    height: min(12.25rem, 20vh);
    justify-self: end;
    align-self: center;
}

.cartitemdetails {
    display: flex;
    flex-direction: column;
    justify-self: baseline;
    width: 100%;
    gap: min(1.5rem, 2.7vh);
    justify-content: center;
}

.cartitemdetails > h1 {
    font-size: min(2rem, 3.3vh);
}

.cartitemdetails > p {
    font-size: min(1.5rem, 2.5vh);
}

.cartitemdetails > input {
    align-self: center;
    font-size: min(1.25rem, 2vh);
    width: min(3rem, 13vh);
}

.total {
    font-size: min(2rem, 4.1vh);
    font-weight: 500;
}

.closebtn {
    background-color: white;
    border: 0;
    font-size: min(2rem, 4.1vh);
    align-self: flex-end;
    margin: min(1rem, 1.9vh);
}

.topcart {
    display: flex;
    flex-direction: column;
}
